@page "/patients"
@inject PatientsController patientsController
@inject HospitalsController hospitalsController
@inject NavigationManager navigatorManager

<PageTitle>Patients</PageTitle>

<div>
    <h3>Patients</h3>
    <button class="btn btn-primary" @onclick="@(()=>navigatorManager.NavigateTo("/patientForm"))">Add new</button>
</div>

<EditForm Model="@Hospital" OnValidSubmit="@FormSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="name">
            Hospital name
        </label>
        <div>
            <InputText id="name" class="form-control" placeholder="Name"
                       @bind-Value="Hospital.Name" />
            <ValidationMessage For="@(() => Hospital.Name)" />
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">
            Search
        </button>
    </div>
    @if (Message != null)
    {
        <p>@Message</p>
    }
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Patient ID</th>
            <th>Birth Date</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @if (this.PatientsIterator != null)
        {
            @while (this.PatientsIterator.HasNext())
            {
                var patient = this.PatientsIterator.MoveNext();
                <tr>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>@patient.PatientId</td>
                    <td>@patient.BirthDate</td>
                    <td><button class="btn btn-primary">Add</button></td>
                </tr>
            }
        } else {
            <tr>
                No such data!
            </tr>
        }
    </tbody>
</table>

@code {
    private Iterator<Patient> PatientsIterator;
    private Hospital Hospital = new Hospital();
    private string Message;

    private void FormSubmit(){
        var findHospital = hospitalsController.FindHospital(Hospital);
        if(findHospital != null){
            this.PatientsIterator = findHospital.Patients.createIterator();
            Message = "Hospital found!";
        } else{
            Message = "Hospital not found!";
        }
    }
}
