@page "/patients"
@inject PatientsController patientsController
@inject HospitalsController hospitalsController
@inject NavigationManager navigatorManager

<PageTitle>Patients</PageTitle>

<h3>All patients</h3>
<hr />

<table class="table">
    <thead>
        <tr>
            <th style="width:40px"></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Patient ID</th>
            <th>Birth Date</th>
            <th>Hospitalized in</th>
        </tr>
    </thead>
    <tbody>
        @if (this.PatientsIterator != null)
        {
            var number = 1;
            @while (this.PatientsIterator.HasNext())
            {
                var patient = this.PatientsIterator.MoveNext();
                <tr>
                    <th>@number</th>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>@patient.PatientId</td>
                    <td>@patient.BirthDate</td>
                    @if(patient.ActualRecord != null){
                        <td>@patient.ActualRecord.HospitalizationRecord.Hospital.Name</td>
                    } else {
                        <td>Nowhere</td>
                    }
                </tr>
                number++;
            }
        }     
    </tbody>
</table>

@code {
    private Iterator<Patient> PatientsIterator;
    private string Message;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.PatientsIterator = patientsController.GetPatients();
    }
}
