@page "/dataTransfer"
@inject HospitalizationController hospitalizations
@inject HospitalsController hospitals
@inject NavigationManager navigatorManager

<PageTitle>DataTransfer</PageTitle>

<EditForm Model="@HospitalOld">
    <DataAnnotationsValidator />
    <h3>From hospital</h3>
    <hr />
    <div class="form-group">
        <label for="name">
            Name
        </label>
        <div>
            <InputText id="name" class="form-control" placeholder="Name"
                       @bind-Value="HospitalOld.Name" />
            <ValidationMessage For="@(() => HospitalOld.Name)" />
        </div>
    </div>   
</EditForm>

<EditForm Model="@HospitalNew" OnValidSubmit="@Transfer">
    <DataAnnotationsValidator />
    <h3 class="mt-2">To hospital</h3>
    <hr />
    <div class="form-group">
        <label for="name">
            Name
        </label>
        <div>
            <InputText id="name" class="form-control" placeholder="Name"
                       @bind-Value="HospitalNew.Name" />
            <ValidationMessage For="@(() => HospitalNew.Name)" />
        </div>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary">
            Transfer
        </button>
    </div>
</EditForm>

@if (Message != null)
{
    <p>@Message</p>
}

@code{
    private Hospital HospitalOld = new Hospital();
    private Hospital HospitalNew = new Hospital();
    private string Message;
    private void Transfer(){
        if(HospitalOld.Name == HospitalNew.Name){
            Message = "Hospitals cannot be same!";
            return;
        }
        var findNewHospital = hospitals.FindHospital(HospitalNew);
        if(findNewHospital == null){
            Message = "Hospital from not found!";
            return;
        }
        var findOldHospital = hospitals.FindHospital(HospitalOld);
        if (findNewHospital == null)
        {
            Message = "Hospital to not found!";
            return;
        }
        hospitalizations.ChangeHospital(findOldHospital, findNewHospital);
        hospitals.DeleteHospital(findOldHospital);
        Message = "Transfer complete!";
    }
}